In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('Data_melt.xlsx', sheet_name=None)

In [2]:
#Переименование column
df['01-31.01'].rename(columns = {'Химический состав' : df['01-31.01'].iat[0,6], 
                                 'Unnamed: 7' : df['01-31.01'].iat[0,7], 
                                 'Unnamed: 8' : df['01-31.01'].iat[0,8], 
                                 'Unnamed: 9' : df['01-31.01'].iat[0,9],
                                 'Unnamed: 10' : df['01-31.01'].iat[0,10],
                                 'Unnamed: 11' : df['01-31.01'].iat[0,11],
                                 'Unnamed: 12' : df['01-31.01'].iat[0,12],
                                 'Unnamed: 13' : df['01-31.01'].iat[0,13],
                                 'Unnamed: 14' : df['01-31.01'].iat[0,14],
                                 'Unnamed: 15' : df['01-31.01'].iat[0,15],
                                 'Unnamed: 16' : df['01-31.01'].iat[0,16],
                                 'Unnamed: 17' : df['01-31.01'].iat[0,17],
                                 'Unnamed: 18' : df['01-31.01'].iat[0,18],
                                 'Unnamed: 19' : df['01-31.01'].iat[0,19],
                                 'Unnamed: 20' : df['01-31.01'].iat[0,20],
                                 'Unnamed: 21' : df['01-31.01'].iat[0,21],
                                 'Unnamed: 22' : df['01-31.01'].iat[0,22],
                                 'Unnamed: 23' : df['01-31.01'].iat[0,23],
                                 'Unnamed: 24' : df['01-31.01'].iat[0,24],
                                 'Unnamed: 25' : df['01-31.01'].iat[0,25],
                                 'Unnamed: 26' : df['01-31.01'].iat[0,26],
                                 'Unnamed: 27' : df['01-31.01'].iat[0,27],
                                 'Unnamed: 28' : df['01-31.01'].iat[0,28],
                                 'Unnamed: 29' : df['01-31.01'].iat[0,29]
                                }, inplace = True)
df['01-31.01'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [3]:
df['01-31.01'] = df['01-31.01'].drop(index=[0])
df['01-31.01'] = df['01-31.01'].reset_index(drop=True)
df['01-31.01']['Date'] = '01.2022'
df['01-28.02'].rename(columns = {'Химический состав' : df['01-28.02'].iat[0,6], 
                                 'Unnamed: 7' : df['01-28.02'].iat[0,7], 
                                 'Unnamed: 8' : df['01-28.02'].iat[0,8], 
                                 'Unnamed: 9' : df['01-28.02'].iat[0,9],
                                 'Unnamed: 10' : df['01-28.02'].iat[0,10],
                                 'Unnamed: 11' : df['01-28.02'].iat[0,11],
                                 'Unnamed: 12' : df['01-28.02'].iat[0,12],
                                 'Unnamed: 13' : df['01-28.02'].iat[0,13],
                                 'Unnamed: 14' : df['01-28.02'].iat[0,14],
                                 'Unnamed: 15' : df['01-28.02'].iat[0,15],
                                 'Unnamed: 16' : df['01-28.02'].iat[0,16],
                                 'Unnamed: 17' : df['01-28.02'].iat[0,17],
                                 'Unnamed: 18' : df['01-28.02'].iat[0,18],
                                 'Unnamed: 19' : df['01-28.02'].iat[0,19],
                                 'Unnamed: 20' : df['01-28.02'].iat[0,20],
                                 'Unnamed: 21' : df['01-28.02'].iat[0,21],
                                 'Unnamed: 22' : df['01-28.02'].iat[0,22],
                                 'Unnamed: 23' : df['01-28.02'].iat[0,23],
                                 'Unnamed: 24' : df['01-28.02'].iat[0,24],
                                 'Unnamed: 25' : df['01-28.02'].iat[0,25],
                                 'Unnamed: 26' : df['01-28.02'].iat[0,26],
                                 'Unnamed: 27' : df['01-28.02'].iat[0,27],
                                 'Unnamed: 28' : df['01-28.02'].iat[0,28],
                                 'Unnamed: 29' : df['01-28.02'].iat[0,29]
                                }, inplace = True)
df['01-28.02'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [4]:
df['01-28.02'] = df['01-28.02'].drop(index=[0])
df['01-28.02'] = df['01-28.02'].reset_index(drop=True)
df['01-28.02']['Date'] = '02.2022'
df['01-31.03'].rename(columns = {'Химический состав' : df['01-31.03'].iat[0,6], 
                                 'Unnamed: 7' : df['01-31.03'].iat[0,7], 
                                 'Unnamed: 8' : df['01-31.03'].iat[0,8], 
                                 'Unnamed: 9' : df['01-31.03'].iat[0,9],
                                 'Unnamed: 10' : df['01-31.03'].iat[0,10],
                                 'Unnamed: 11' : df['01-31.03'].iat[0,11],
                                 'Unnamed: 12' : df['01-31.03'].iat[0,12],
                                 'Unnamed: 13' : df['01-31.03'].iat[0,13],
                                 'Unnamed: 14' : df['01-31.03'].iat[0,14],
                                 'Unnamed: 15' : df['01-31.03'].iat[0,15],
                                 'Unnamed: 16' : df['01-31.03'].iat[0,16],
                                 'Unnamed: 17' : df['01-31.03'].iat[0,17],
                                 'Unnamed: 18' : df['01-31.03'].iat[0,18],
                                 'Unnamed: 19' : df['01-31.03'].iat[0,19],
                                 'Unnamed: 20' : df['01-31.03'].iat[0,20],
                                 'Unnamed: 21' : df['01-31.03'].iat[0,21],
                                 'Unnamed: 22' : df['01-31.03'].iat[0,22],
                                 'Unnamed: 23' : df['01-31.03'].iat[0,23],
                                 'Unnamed: 24' : df['01-31.03'].iat[0,24],
                                 'Unnamed: 25' : df['01-31.03'].iat[0,25],
                                 'Unnamed: 26' : df['01-31.03'].iat[0,26],
                                 'Unnamed: 27' : df['01-31.03'].iat[0,27],
                                 'Unnamed: 28' : df['01-31.03'].iat[0,28],
                                 'Unnamed: 29' : df['01-31.03'].iat[0,29]
                                }, inplace = True)
df['01-31.03'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Ca                                 Ca
Sb                                 Sb
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [5]:
df['01-31.03'] = df['01-31.03'].drop(index=[0])
df['01-31.03'] = df['01-31.03'].reset_index(drop=True)
df['01-31.03']['Date'] = '03.2022'
df['01-30.04'].rename(columns = {'Химический состав' : df['01-30.04'].iat[0,6], 
                                 'Unnamed: 7' : df['01-30.04'].iat[0,7], 
                                 'Unnamed: 8' : df['01-30.04'].iat[0,8], 
                                 'Unnamed: 9' : df['01-30.04'].iat[0,9],
                                 'Unnamed: 10' : df['01-30.04'].iat[0,10],
                                 'Unnamed: 11' : df['01-30.04'].iat[0,11],
                                 'Unnamed: 12' : df['01-30.04'].iat[0,12],
                                 'Unnamed: 13' : df['01-30.04'].iat[0,13],
                                 'Unnamed: 14' : df['01-30.04'].iat[0,14],
                                 'Unnamed: 15' : df['01-30.04'].iat[0,15],
                                 'Unnamed: 16' : df['01-30.04'].iat[0,16],
                                 'Unnamed: 17' : df['01-30.04'].iat[0,17],
                                 'Unnamed: 18' : df['01-30.04'].iat[0,18],
                                 'Unnamed: 19' : df['01-30.04'].iat[0,19],
                                 'Unnamed: 20' : df['01-30.04'].iat[0,20],
                                 'Unnamed: 21' : df['01-30.04'].iat[0,21],
                                 'Unnamed: 22' : df['01-30.04'].iat[0,22],
                                 'Unnamed: 23' : df['01-30.04'].iat[0,23],
                                 'Unnamed: 24' : df['01-30.04'].iat[0,24],
                                 'Unnamed: 25' : df['01-30.04'].iat[0,25],
                                 'Unnamed: 26' : df['01-30.04'].iat[0,26],
                                 'Unnamed: 27' : df['01-30.04'].iat[0,27],
                                 'Unnamed: 28' : df['01-30.04'].iat[0,28],
                                 'Unnamed: 29' : df['01-30.04'].iat[0,29]
                                }, inplace = True)
df['01-30.04'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Ca                                 Ca
Sb                                 Sb
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [6]:
df['01-30.04'] = df['01-30.04'].drop(index=[0])
df['01-30.04'] = df['01-30.04'].reset_index(drop=True)
df['01-30.04']['Date'] = '04.2022'
df['01-31.05'].rename(columns = {'Химический состав' : df['01-31.05'].iat[0,6], 
                                 'Unnamed: 7' : df['01-31.05'].iat[0,7], 
                                 'Unnamed: 8' : df['01-31.05'].iat[0,8], 
                                 'Unnamed: 9' : df['01-31.05'].iat[0,9],
                                 'Unnamed: 10' : df['01-31.05'].iat[0,10],
                                 'Unnamed: 11' : df['01-31.05'].iat[0,11],
                                 'Unnamed: 12' : df['01-31.05'].iat[0,12],
                                 'Unnamed: 13' : df['01-31.05'].iat[0,13],
                                 'Unnamed: 14' : df['01-31.05'].iat[0,14],
                                 'Unnamed: 15' : df['01-31.05'].iat[0,15],
                                 'Unnamed: 16' : df['01-31.05'].iat[0,16],
                                 'Unnamed: 17' : df['01-31.05'].iat[0,17],
                                 'Unnamed: 18' : df['01-31.05'].iat[0,18],
                                 'Unnamed: 19' : df['01-31.05'].iat[0,19],
                                 'Unnamed: 20' : df['01-31.05'].iat[0,20],
                                 'Unnamed: 21' : df['01-31.05'].iat[0,21],
                                 'Unnamed: 22' : df['01-31.05'].iat[0,22],
                                 'Unnamed: 23' : df['01-31.05'].iat[0,23],
                                 'Unnamed: 24' : df['01-31.05'].iat[0,24],
                                 'Unnamed: 25' : df['01-31.05'].iat[0,25],
                                 'Unnamed: 26' : df['01-31.05'].iat[0,26],
                                 'Unnamed: 27' : df['01-31.05'].iat[0,27],
                                 'Unnamed: 28' : df['01-31.05'].iat[0,28],
                                 'Unnamed: 29' : df['01-31.05'].iat[0,29]
                                }, inplace = True)
df['01-31.05'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Ca                                 Ca
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [7]:
df['01-31.05'] = df['01-31.05'].drop(index=[0])
df['01-31.05'] = df['01-31.05'].reset_index(drop=True)
df['01-31.05']['Date'] = '05.2022'
df['01-30.06'].rename(columns = {'Химический состав' : df['01-30.06'].iat[0,6], 
                                 'Unnamed: 7' : df['01-30.06'].iat[0,7], 
                                 'Unnamed: 8' : df['01-30.06'].iat[0,8], 
                                 'Unnamed: 9' : df['01-30.06'].iat[0,9],
                                 'Unnamed: 10' : df['01-30.06'].iat[0,10],
                                 'Unnamed: 11' : df['01-30.06'].iat[0,11],
                                 'Unnamed: 12' : df['01-30.06'].iat[0,12],
                                 'Unnamed: 13' : df['01-30.06'].iat[0,13],
                                 'Unnamed: 14' : df['01-30.06'].iat[0,14],
                                 'Unnamed: 15' : df['01-30.06'].iat[0,15],
                                 'Unnamed: 16' : df['01-30.06'].iat[0,16],
                                 'Unnamed: 17' : df['01-30.06'].iat[0,17],
                                 'Unnamed: 18' : df['01-30.06'].iat[0,18],
                                 'Unnamed: 19' : df['01-30.06'].iat[0,19],
                                 'Unnamed: 20' : df['01-30.06'].iat[0,20],
                                 'Unnamed: 21' : df['01-30.06'].iat[0,21],
                                 'Unnamed: 22' : df['01-30.06'].iat[0,22],
                                 'Unnamed: 23' : df['01-30.06'].iat[0,23],
                                 'Unnamed: 24' : df['01-30.06'].iat[0,24],
                                 'Unnamed: 25' : df['01-30.06'].iat[0,25],
                                 'Unnamed: 26' : df['01-30.06'].iat[0,26],
                                 'Unnamed: 27' : df['01-30.06'].iat[0,27],
                                 'Unnamed: 28' : df['01-30.06'].iat[0,28],
                                 'Unnamed: 29' : df['01-30.06'].iat[0,29]
                                }, inplace = True)
df['01-30.06'].iloc[0]

Дата отгрузки                     NaN
№ вагона/Сертификат качества      NaN
№ плавки                          NaN
Сечение                           NaN
Марка стали                       NaN
Тех карта                         NaN
O                                   O
Ca                                 Ca
Sb                                 Sb
Pb                                 Pb
Nb                                 Nb
C                                   C
Si                                 Si
Mn                                 Mn
P                                   P
S                                   S
Ni                                 Ni
Cr                                 Cr
Cu                                 Cu
Al                                 Al
As                                 As
N                                   N
Mo                                 Mo
V                                   V
B                                   B
Sn                                 Sn
Ceq                               Ceq
Sn+Mo                           Sn+Mo
Ti                                 Ti
W                                   W
Вес                               NaN
Примечание                        NaN
Name: 0, dtype: object

In [8]:
df['01-30.06'] = df['01-30.06'].drop(index=[0])
df['01-30.06'] = df['01-30.06'].reset_index(drop=True)
df['01-30.06']['Date'] = '06.2022'
df_melt = pd.concat ([df['01-31.01'], df['01-28.02'], df['01-31.03'], df['01-30.04'], df['01-31.05'], df['01-30.06']],ignore_index=True)

In [9]:
df_melt["Дата отгрузки"] = df_melt["Дата отгрузки"].fillna(method="bfill")
df_melt.drop(df_melt.index[-1], axis=0, inplace=True)
df_melt = df_melt.astype({'Дата отгрузки' : 'int64', '№ плавки' : 'int64'})
df_melt = df_melt.astype({'O' : 'float64', 'Pb' : 'float64', 'Nb' : 'float64', 'C' : 'float64', 'Si' : 'float64', 'Mn' : 'float64', 'P' : 'float64', 'S' : 'float64',
       'Ni' : 'float64', 'Cr' : 'float64', 'Cu' : 'float64', 'Al' : 'float64', 'As' : 'float64', 'N' : 'float64', 'Mo' : 'float64', 'V' : 'float64', 'B' : 'float64', 'Sn' : 'float64', 'Ceq' : 'float64', 'Sn+Mo' : 'float64',
       'Ti' : 'float64', 'W' : 'float64', 'Ca' : 'float64', 'Sb' : 'float64', 'Вес' : 'float64',})
df_melt.reset_index(drop=True)
df_melt.info(verbose=True)
df_melt["Дата отгрузки"].isna()
df_melt.columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13137 entries, 0 to 13136
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Дата отгрузки                 13137 non-null  int64
 1   № вагона/Сертификат качества  9215 non-null   object
 2   № плавки                      13137 non-null  int64
 3   Сечение                       13137 non-null  object
 4   Марка стали                   13137 non-null  object
 5   Тех карта                     13137 non-null  object
 6   O                             0 non-null      float64
 7   Pb                            12423 non-null  float64
 8   Nb                            3011 non-null   float64
 9   C                             13125 non-null  float64
 10  Si                            13125 non-null  float64
 11  Mn                            13125 non-null  float64
 12  P                             13120 non-null  float64
 13  S                             13120 non-null  float64
 14  Ni                            13120 non-null  float64
 15  Cr                            13120 non-null  float64
 16  Cu                            13120 non-null  float64
 17  Al                            13112 non-null  float64
 18  As                            13118 non-null  float64
 19  N                             13070 non-null  float64
 20  Mo                            12511 non-null  float64
 21  V                             12507 non-null  float64
 22  B                             12476 non-null  float64
 23  Sn                            12395 non-null  float64
 24  Ceq                           6184 non-null   float64
 25  Sn+Mo                         0 non-null      float64
 26  Ti                            12416 non-null  float64
 27  W                             12433 non-null  float64
 28  Вес                           13137 non-null  float64
 29  Примечание                    13137 non-null  object
 30  Date                          13137 non-null  object
 31  Ca                            8102 non-null   float64
 32  Sb                            6196 non-null   float64
dtypes: float64(25), int64(2), object(6)
memory usage: 3.4+ MB

Index(['Дата отгрузки', '№ вагона/Сертификат качества', '№ плавки', 'Сечение',
       'Марка стали', 'Тех карта', 'O', 'Pb', 'Nb', 'C', 'Si', 'Mn', 'P', 'S',
       'Ni', 'Cr', 'Cu', 'Al', 'As', 'N', 'Mo', 'V', 'B', 'Sn', 'Ceq', 'Sn+Mo',
       'Ti', 'W', 'Вес', 'Примечание', 'Date', 'Ca', 'Sb'],
      dtype='object')

In [10]:
df_melt = df_melt.fillna(value = 0)

In [11]:
df_melt = df_melt.replace(0, np.nan)

In [12]:
df_melt.drop(['Дата отгрузки', '№ вагона/Сертификат качества', 'Сечение',
              'Тех карта', 'Вес', 'Примечание', 'Date',], axis = 1, inplace = True)

In [13]:
df_melt.sort_values(by=['№ плавки'])

,№ плавки,Марка стали,O,Pb,Nb,C,Si,Mn,P,S,...,Mo,V,B,Sn,Ceq,Sn+Mo,Ti,W,Ca,Sb
1586,2117682,СТ3СП,NaN,0.002,NaN,0.23,0.57,1.48,0.026,0.022,...,0.014,0.0025,NaN,0.009,0.52,NaN,0.001,0.003,NaN,NaN
1409,2117682,СТ3СП,NaN,0.002,NaN,0.23,0.57,1.48,0.026,0.022,...,0.014,0.0025,NaN,0.009,0.52,NaN,0.001,0.003,NaN,NaN
1309,2117682,СТ3СП,NaN,0.002,NaN,0.23,0.57,1.48,0.026,0.022,...,0.014,0.0025,NaN,0.009,0.52,NaN,0.001,0.003,NaN,NaN
618,2127488,СТ3СП,NaN,NaN,0.001,0.19,0.21,0.61,0.017,0.032,...,0.013,0.0013,NaN,0.009,0.33,NaN,0.001,0.002,NaN,NaN
2178,2127586,СТ3СП,NaN,NaN,NaN,0.21,0.19,0.73,0.017,0.024,...,0.014,0.0028,NaN,0.010,0.38,NaN,0.001,0.006,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11874,2232387,Сталь 80,NaN,NaN,NaN,0.84,0.18,0.52,0.004,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11727,2232387,Сталь 80,NaN,NaN,NaN,0.84,0.18,0.52,0.004,0.005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11860,2232388,SAE 1005,NaN,NaN,NaN,0.05,0.04,0.28,0.011,0.013,...,0.010,0.0006,NaN,NaN,0.13,NaN,NaN,NaN,NaN,NaN
11876,2232388,SAE 1005,NaN,NaN,NaN,0.05,0.04,0.28,0.011,0.013,...,0.010,0.0006,NaN,NaN,0.13,NaN,NaN,NaN,NaN,NaN
11730,2232388,SAE 1005,NaN,NaN,NaN,0.05,0.04,0.28,0.011,0.013,...,0.010,0.0006,NaN,NaN,0.13,NaN,NaN,NaN,NaN,NaN

In [14]:
df_melt.drop_duplicates(inplace = True)

In [15]:
df_melt.set_index('№ плавки',drop = False)

,№ плавки,Марка стали,O,Pb,Nb,C,Si,Mn,P,S,...,Mo,V,B,Sn,Ceq,Sn+Mo,Ti,W,Ca,Sb
№ плавки,,,,,,,,,,,,,,,,,,,,,
2220542,2220542,СВ08Г2С,NaN,NaN,NaN,0.07,0.75,1.82,0.007,0.009,...,0.010,0.0010,0.005,0.006,NaN,NaN,0.0010,0.001,NaN,NaN
2127609,2127609,Сталь 80,NaN,NaN,NaN,0.84,0.17,0.57,0.004,0.010,...,0.006,0.0006,NaN,0.001,0.89,NaN,0.0012,0.001,NaN,NaN
2127611,2127611,Сталь 80,NaN,NaN,NaN,0.84,0.17,0.56,0.004,0.007,...,0.009,0.0004,NaN,0.001,0.89,NaN,0.0011,0.001,NaN,NaN
2127607,2127607,Сталь 80,NaN,NaN,NaN,0.83,0.16,0.55,0.004,0.009,...,0.004,0.0003,NaN,0.001,0.87,NaN,0.0011,0.002,NaN,NaN
2220041,2220041,Сталь 70,NaN,NaN,NaN,0.74,0.17,0.47,0.004,0.007,...,0.003,0.0003,NaN,0.001,NaN,NaN,0.0009,0.002,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232360,2232360,А240,NaN,NaN,NaN,0.20,0.18,0.57,0.015,0.016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231165,2231165,А240,NaN,NaN,NaN,0.21,0.18,0.56,0.027,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2223621,2223621,СТ1ПС,NaN,NaN,NaN,0.10,0.08,0.38,0.011,0.016,...,NaN,NaN,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2223644,2223644,СТ1СП,NaN,NaN,NaN,0.06,0.16,0.48,0.013,0.013,...,0.018,0.0005,0.002,0.011,NaN,NaN,0.0009,0.002,0.001,0.002
2232362,2232362,А240,NaN,NaN,NaN,0.12,0.13,0.44,0.018,0.016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = pd.read_excel('Data_wire_rod.xlsx', sheet_name=None)
df['катанка'].rename(columns = {'Unnamed: 0' : 'ИМЯ','Unnamed: 5' : 'ПЛАВКА','Unnamed: 6' : 'СТАЛЬ','Unnamed: 7' : 'НД','Unnamed: 8' : 'Dном, мм','Unnamed: 9' : 'Dфак, мм','Unnamed: 10' : 'σв, Н/мм2','Unnamed: 11' : 'σт, Н/мм2','Unnamed: 12' : 'σв/σт','Unnamed: 13' : 'δmax, %','Unnamed: 14' : 'Ψ,%','Unnamed: 15' : 'δ5, %','Unnamed: 16' : 'δ10, %','Unnamed: 17' : 'окалина, %','Unnamed: 18' : 'Изгиб','Unnamed: 19' : 'осадка','Unnamed: 20' : 'перегиб','Unnamed: 21' : 'ПРИМ','Unnamed: 22' : 'ДАТА','Unnamed: 23' : 'ЦЕЛЬ','Unnamed: 24' : 'оператор','Unnamed: 25' : 'протокол','Unnamed: 26' : '№заказа','Unnamed: 27' : 'σв, МПа','Unnamed: 28' : 'Ψ, %','Unnamed: 29' : 'окалина','Unnamed: 30' : 'овал','Unnamed: 31' : 'Бригада №','Unnamed: 32' : 'Приложение по выплавке',}, inplace = True)
df['катанка'] = df['катанка'].drop(index=[0, 1, 2])
df['катанка'] = df['катанка'].reset_index(drop=True)
df_wire_rod = df['катанка']
df_wire_rod.columns

Index(['ИМЯ', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'ПЛАВКА',
       'СТАЛЬ', 'НД', 'Dном, мм', 'Dфак, мм', 'σв, Н/мм2', 'σт, Н/мм2',
       'σв/σт', 'δmax, %', 'Ψ,%', 'δ5, %', 'δ10, %', 'окалина, %', 'Изгиб',
       'осадка', 'перегиб', 'ПРИМ', 'ДАТА', 'ЦЕЛЬ', 'оператор', 'протокол',
       '№заказа', 'σв, МПа', 'Ψ, %', 'окалина', 'овал', 'Бригада №',
       'Приложение по выплавке', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35',
       'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45'],
      dtype='object')

In [17]:
df_wire = pd.read_excel('Data_wire.xlsx', sheet_name=None)
df_wire['неоц'].rename(columns = {'ИМЯ' : 'стан', 'Unnamed: 2' : 'бухта', 'Unnamed: 3': '№', 'повторы' : 'σв', 'Unnamed: 21' : 'δ' }, inplace = True)
df_wire['неоц'].drop(['Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29'], axis = 1, inplace = True)
df_wire['неоц'] = df_wire['неоц'].drop(index=[0])
df_wire['неоц'] = df_wire['неоц'].reset_index(drop=True)
df_wire = df_wire['неоц']
df_wire.head(3)

AttributeError: 'Chartsheet' object has no attribute 'rows'

In [1]:
df_wire_rod = df_wire_rod [['ПЛАВКА', 'ИМЯ', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'СТАЛЬ', 'НД', 'Dном, мм', 'Dфак, мм', 'σв, Н/мм2', 'σт, Н/мм2',
       'σв/σт', 'δmax, %', 'Ψ,%', 'δ5, %', 'δ10, %', 'окалина, %', 'Изгиб',
       'осадка', 'перегиб', 'ПРИМ', 'ДАТА', 'ЦЕЛЬ', 'оператор', 'протокол',
       '№заказа', 'σв, МПа', 'Ψ, %', 'окалина', 'овал', 'Бригада №',
       'Приложение по выплавке']]
df_wire_rod.rename(columns = {'ПЛАВКА' : '№ плавки'}, inplace = True)
df_wire_rod.rename(columns = {'ИМЯ' : '№ образца'}, inplace = True)
df_wire_rod.rename(columns = {'Unnamed: 1' : 'Линия проката'}, inplace = True)
df_wire_rod.rename(columns = {'Unnamed: 3' : 'Начало/конец образца'}, inplace = True)

NameError: name 'df_wire_rod' is not defined

In [ ]:
df_wire_rod.loc[(df_wire_rod['№ плавки'] == "222160*9"), '№ плавки'] = "-"
df_wire_rod = df_wire_rod.loc[df_wire_rod['№ плавки'] != "-"]

In [ ]:
df_wire_rod = df_wire_rod.astype({'№ плавки' : 'int64'})
df_wire_rod = df_wire_rod.astype({'Unnamed: 4' : 'object'})

In [ ]:
df_melt.set_index('№ плавки', drop=True, append=False, inplace=True, verify_integrity=False)
df_melt.head(5)

In [ ]:
df_melt_df_wire_rod = df_wire_rod.join(df_melt, on="№ плавки")
df_melt_df_wire_rod = pd.merge(df_wire_rod, df_melt, left_on="№ плавки", right_index=True, how="left", sort=False)
df_melt_df_wire_rod.info(verbose=True)
df_melt_df_wire_rod.to_excel("df_melt_df_wire_rod.xlsx")
df_melt_df_wire_rod.columns

In [ ]:
df_melt_df_wire_rod['СТАЛЬ'].unique()

In [ ]:
df_melt_df_wire_rod_15Gps = df_melt_df_wire_rod[df_melt_df_wire_rod['СТАЛЬ'] == '15Гпс']

In [ ]:
df_melt_df_wire_rod['Dном, мм'].unique()

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps[df_melt_df_wire_rod_15Gps['Dном, мм'] == 5.5]

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.loc[df_melt_df_wire_rod_15Gps_5_5_diam['σв, Н/мм2'] != "-"]
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.astype({'σв, Н/мм2' : 'float64'})
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.loc[df_melt_df_wire_rod_15Gps_5_5_diam['Ψ,%'] != "-"]
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.astype({'Ψ,%' : 'float64'})

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.dropna(axis=0, how='any', subset=['C'])

In [ ]:
np.cov(df_melt_df_wire_rod_15Gps_5_5_diam['σв, Н/мм2'],df_melt_df_wire_rod_15Gps_5_5_diam['C'])

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam.describe()

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam.corrwith(df_melt_df_wire_rod_15Gps_5_5_diam['σв, Н/мм2'])

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam.corrwith(df_melt_df_wire_rod_15Gps_5_5_diam['Ψ,%'])

In [ ]:
df_melt_df_wire_rod_15Gps_5_5_diam = df_melt_df_wire_rod_15Gps_5_5_diam.dropna(axis=0, how='any', subset=['C'])

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(df_melt_df_wire_rod_15Gps_5_5_diam['Si'] ,df_melt_df_wire_rod_15Gps_5_5_diam['σв, Н/мм2'] , color = 'r')
plt.xlabel('Si, %')
plt.ylabel('σв, Н/мм2')

In [ ]:
import seaborn as sns
cols = ['σв, Н/мм2', 'Ψ,%', 'Si', 'Ni', 'Sn', 'Nb']
sns.heatmap(df_melt_df_wire_rod_15Gps_5_5_diam[cols].corr(),
            cbar=True,
            annot=True)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
cols = ['σв, Н/мм2', 'Si']
df_LR = df_melt_df_wire_rod_15Gps_5_5_diam[cols]
df_LR.shape

In [ ]:
X = df_LR[['Si']]
y = df_LR[['σв, Н/мм2']]
reg = LinearRegression().fit(X, y)
reg

In [ ]:
plt.scatter(X, y, color = 'red')
plt.plot(X, reg.predict(X), color = 'blue')
plt.xlabel(cols[-1:])
plt.ylabel(cols[:-1])
plt.show()